<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">                
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" *ngIf="auth.clientSystem | async as clientSystem">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{clientSystem.status}}
                    </a>
                    <ul [ngSwitch]="clientSystem?.status" class="dropdown-menu">
                        <li *ngSwitchCase="'disconnected'"><a class="nav-info" (click)="authoriseXero()">Connect to Xero</a></li>
                        <li *ngSwitchCase="'connected'"><a class="nav-info"  (click)="getXeroInvoices()">Get Xero Invoices</a></li>
                        <li *ngSwitchCase="'connected'"><a class="nav-info"  (click)="getXeroContacts()">Get Xero Contacts</a></li>
                        <li *ngSwitchCase="'connected'"><a class="nav-info"  (click)="getXeroItems()">Get Xero Items</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">person</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
