<div class="main-content">
    <div *ngIf="auth.clientSystem | async as clientSystem">            
        <div class="container-fluid" *ngIf="aggregatedStats$ | async as stats">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Active Invoices<br/>To Pay/To Receive</p>
                            <h3 class="title" >{{clientSystem.NotPaidPayableInvoices}}/{{clientSystem.NotPaidReceivebleInvoices}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">account_balance_wallet</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Amount<br/>To Be Received</p>
                            <h3 class="title">{{clientSystem.AmountOwed | currency:clientSystem.BaseCurrency:'symbol'}} <div *ngIf="stats">{{getStat('AmountOwed') | async}}</div></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">payment</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Amount<br/>To Be Payed</p>
                            <h3 class="title">{{clientSystem.AmountOwing | currency:clientSystem.BaseCurrency:'symbol'}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Tracked from Github
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Paid Invoices<br/>Payable/Receivable</p>
                            <h3 class="title">{{clientSystem.PaidPayableInvoices}}/{{clientSystem.PaidReceivebleInvoices}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">payment</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Amount<br/>Paid</p>
                            <h3 class="title">{{clientSystem.AmountPaid | currency:clientSystem.BaseCurrency:'symbol'}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">info_outline</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">account_balance_wallet</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Amount<br/>Received</p>
                            <h3 class="title">{{clientSystem.AmountReceived | currency:clientSystem.BaseCurrency:'symbol'}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Amount<br/>Received</p>
                            <h3 class="title">${{clientSystem.InvoicesStats.AmountReceived}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Email Subscriptions</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Completed Tasks</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-nav-tabs" >
                        <div class="card-header" data-background-color="purple">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Invoices:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab">
                                                <i class="material-icons">payment</i>
                                                Payable
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#messages" data-toggle="tab">
                                                <i class="material-icons">account_balance_wallet</i>
                                                Receivable
                                            <div class="ripple-container"></div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <thead class="text-warning">
                                            <tr>
                                                <th>Select</th>
                                                <th>Invoice Number</th>
                                                <th>Amount Due</th>
                                                <th>Amount Paid</th>
                                                <!-- <th>Type</th>
                                                <th>Status</th> -->
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let invoice of invoicesPayable | async">
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>{{invoice.InvoiceNumber}}</td>
                                                <td>{{invoice.AmountDue}}</td>
                                                <td>{{invoice.AmountPaid}}</td>
                                                <!-- <td>{{invoice.Type}}</td>
                                                <td>{{invoice.Status}}</td> -->
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="messages">
                                        <table class="table">
                                            <thead class="text-warning">
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Invoice Number</th>
                                                    <th>Amount Due</th>
                                                    <th>Amount Paid</th>
                                                    <!-- <th>Type</th>
                                                    <th>Status</th> -->
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let invoice of invoicesReceivable | async">
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="optionsCheckboxes" checked>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>{{invoice.InvoiceNumber}}</td>
                                                    <td>{{invoice.AmountDue}}</td>
                                                    <td>{{invoice.AmountPaid}}</td>
                                                    <!-- <td>{{invoice.Type}}</td>
                                                    <td>{{invoice.Status}}</td> -->
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>                                            
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Contacts</h4>
                            <p class="category">Please, invite your contacts to join Rollabill</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>Select</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let contact of contacts | async">
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{{contact.Name}}</td>
                                            <td>{{contact.EmailAddress}}</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>                                            
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
