<div class="main-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container-fluid">
    <div *ngIf="auth.user | async as user">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Edit Profile</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">
                    <div *ngIf="auth.clientSystem | async as clientSystem">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Company (disabled)</label>
                                    <input type="text" class="form-control" [value]="clientSystem?.Name" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email address</label>
                                    <input type="email" class="form-control" [value]="user.email" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Display Name</label>
                                    <input type="text" class="form-control" [value]="user.displayName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Tax Number</label>
                                    <input type="text" class="form-control" [value]="clientSystem?.TaxNumber" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Adress</label>
                                    <input type="text" class="form-control" [value]="clientSystem?.Address0?.AddressLine1+', '+clientSystem?.Address0?.AddressLine2" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">City</label>
                                    <input type="text" class="form-control" [value]="clientSystem?.Address0?.City">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Country</label>
                                    <input type="text" class="form-control" [value]="clientSystem?.Address0?.Country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Postal Code</label>
                                    <input type="text" class="form-control" [value]="clientSystem?.Address0?.PostalCode">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <button class="btn btn-danger btn-round" (click)="updateClientSystemData(clientSystem)" >Update Profile</button>
                        <div class="dropdown">
                            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                Add Accounting System
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a (click)="addClientSystem('xero', user.uid, user.selected_client_system.id)">Xero</a></li>
                                <li><a (click)="addClientSystem('sageone', user.uid, user.selected_client_system.id)">Sage One</a></li>
                            </ul>
                        </div>
                        <!-- <button class="btn btn-danger btn-round" (click)="authorise(clientSystem.type)" >Update Profile</button> -->
                        <div class="clearfix"></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">            
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="/user-profile">
                            <img class="img" [src]="user.photoURL" />
                        </a>
                    </div>
        
                    <div class="content">
                        <h6 class="category text-gray">{{ user?.position }}</h6>
                        <h4 class="card-title">{{ user.displayName }}</h4>
                        <p class="card-content">
                            {{ user?.email }}
                        </p>
                        <button class="btn btn-danger btn-round" (click)="auth.signOut()">Logout</button>
                    </div>
                </div>
            <div *ngIf="auth.clientSystem | async as clientSystem">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="/user-profile">
                            <img class="img" src="../assets/img/{{clientSystem?.type}}.png" />
                        </a>
                    </div>
        
                    <div class="content">
                        <h6 class="category text-gray">{{ clientSystem?.TaxNumber }}</h6>
                        <h4 class="card-title">{{ clientSystem.Name }}</h4>
                        <p class="card-content">
                            {{ clientSystem?.ShortCode }}
                        </p>
                        <button *ngIf="clientSystem.status == 'disconnected'" class="btn btn-info btn-round" (click)="authorise(clientSystem.type)">Connect to Xero</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
